@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Poppins',sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
}

.content{
  position: relative;
}

.content h2{
  position: absolute;
  color: #fff;
  transform: translate(-50%,-50%);
  font-size: 8em;
}